<div class="comic-thumbs">
  <button mat-flat-button matTooltip="Previous Volume" (click)="prevVol()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <ol #pagesList class="comic-pages">
    <li *ngFor="let p of pages; let i = index" class="comic-thumb" [class.active]="currentPage == i + 1" (click)="onClickPage($event)" [attr.data-page]="i+1">
      <img src="../assets/images/storyboard-{{p}}.png" alt="Page {{ i+1 }}">
    </li>
  </ol>
  
  <button mat-flat-button matTooltip="Next Volume" (click)="nextVol()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>